<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<h1 class="title">Login To Your Gallery</h1>
<form method="post" action="/MyPhotos">
<input class="inp" type="text" name="userName" placeholder="userName">
    <br>
<input class="inp" type="text" name ="password" placeholder="password">
    <br>
<input type="submit" value="login/regster" >
</form>
</body>
</html>